.card {
  border: 1.5px solid !important;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
}

.btn-toolbar {
  justify-content: center !important;
}
.text-center {
  margin: 30px 0;
}

.form-check-input {
  width: 30px;
  height: 30px;
}

.align-left {
  text-align: left;
}

.align-center {
  align-items: center;

}

.text-align-top {
  display: flex;
  align-self: flex-start;
}

.check-align {
  display: flex;
  margin: 0 !important;
  justify-content: center;
}

.check-align > .form-group {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
  .align-lef {
    text-align: center;
    margin: 20px 0;
  }

  .btn-toolbar > button {
    width: 100%;
    margin: 4% 0;
  }
}