.card {
  border: 1.5px solid !important;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.2);
}
.text-center {
  margin: 30px 0;
}

.form-check-input {
  width: 30px;
  height: 30px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
  align-items: center;
}

.align-center {
  align-items: center;

}

.text-align-top {
  display: flex;
  align-self: flex-start;
}

.check-align {
  display: flex;
  margin: 0 !important;
  justify-content: center;
}

.check-align > .form-group {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
  .align-left, .align-right {
    text-align: center;
    margin: 20px 0;
  }
}