.input-date {
  display: flex;
  justify-content: flex-end;
}

.input-date > input {
  width: 60%;
  font-size: 16px !important;
  text-align: right !important;
}

.p-date {
  margin-right: 20%;
}

.calendar-icon {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.calendar-icon > p {
  margin: 0
}
.calendar-icon  > svg {
  align-self: center;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .input-date {
    justify-content: center;
  }

  .input-date > input {
    width: 60%;
  }

  .p-date {
    margin-right: 0;
  }

  .calendar-icon {
    justify-content: center;
  }
  
}